<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <!-- GET [http://localhost:8180/market/   -->
    <form method="post" th:action="@{/add_new_product}">
        <div>
            <p align="center">
                <input type="number" name="id" placeholder="enter id" >
            </p>
            <p align="center">
                <input type="text" name="title" placeholder="enter title" >
            </p>
            <p align="center">
                <input type="number" name="cost" placeholder="enter cost" >
            </p>

        </div>
        <p align="center">
            <button class="btn" type="submit" >ADD</button>
        <h3 th:text="${answer}"></h3>
        </p>
    </form>
    <a th:href="@{/repository}">Go to the list of products</a>
</div>
</body>
</html>